<meta charset="UTF-8">
<style>
    @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic');
    style {
        display: none !important;
    }
    .catalog-html-block {
        padding-top: 10px;
    }
    ._customer_cat__wrap {
        max-width: 627px;
        font-family: Roboto, sans-serif;
        font-weight: 300;
        font-size: 15px;
        line-height: 1.4;
        color: #666666;
        margin-bottom: 20px !important;
        background: #f6f6f6;
        padding: 15px;
    }
    ._customer_cat__content {
        display: flex !important;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    ._customer_cat__item {
        display: flex !important;
        margin-bottom: 20px;
        width: 50%;
    }
    ._customer_cat__img {
        min-width: 50px;
        max-height: 50px;
        text-align: center;
        display: block !important;
    }
    ._customer_cat__item img {
        text-align: center;
        width: auto !important;
    }
    ._customer_cat__item-txt {
        display: grid !important;
        align-content: center;
        margin-left: 10px;
    }
    ._customer_cat__bottom {
        display: flex;
        justify-content: space-between;
        text-align: center;
        width: 100%;
    }
    ._customer_cat__bottom-left {
        width: 20%;
        background: #1177d1;
        padding: 25px 0;
    }
    ._customer_cat__bottom-img {
        min-width: 50px;
        max-height: 50px;
    }
    ._customer_cat__bottom-right {
        background: #0c5b9f;
        width: 80%;
        text-align: left;
        padding: 25px 20px 25px 30px;
    }
    ._customer_cat__bottom-descr {
        color: #ffffff;
        font-size: 18px;
        font-weight: 600;
    }
    ._customer_cat__bottom-text {
        color: #cdcdcd;
    }
    @media (max-width: 992px) {
        ._customer_cat__item {
            width: 100%;
        }
    }

</style>
<div class="_customer_cat__wrap">
    <div class="_customer_cat__content">
        <div class="_customer_cat__item">
            <div class="_customer_cat__img">
                <img src="img/block_category/icon-1.png">
            </div>
            <div class="_customer_cat__item-txt">
                <span>Реальные цены на сайте</span>
            </div>
        </div>
        <div class="_customer_cat__item">
            <div class="_customer_cat__img">
                <img src="img/block_category/icon-2.png">
            </div>
            <div class="_customer_cat__item-txt">
                <span>Цена не зависит от<br> сезона</span>
            </div>
        </div>
        <div class="_customer_cat__item">
            <div class="_customer_cat__img">
                <img src="img/block_category/icon-3.png">
            </div>
            <div class="_customer_cat__item-txt">
                <span>Консультации и инженерные<br> расчеты</span>
            </div>
        </div>
        <div class="_customer_cat__item">
            <div class="_customer_cat__img">
                <img src="img/block_category/icon-4.png">
            </div>
            <div class="_customer_cat__item-txt">
                <span>Полная комплектация<br> заявок</span>
            </div>
        </div>
    </div>
    <div class="_customer_cat__bottom">
        <div class="_customer_cat__bottom-left">
            <img src="img/block_category/icon-5.png" class="_customer_cat__bottom-img">
        </div>
        <div class="_customer_cat__bottom-right">
            <div class="_customer_cat__bottom-descr">Бесплатная доставка крупных заказов</div>
            <div class="_customer_cat__bottom-text">День в день или на следующий день</div>
        </div>
    </div>
</div>